{% extends "layout.html.twig" %}
{% block title %}{%trans%}Analysis{%endtrans%}{%endblock%}

{% block main_content %}
    
    <div class="container">
        Analisis index
    </div>
    
{% endblock %}
