/* 
    Created on : 05-may-2017, 17:22:00
    Author     : Javier
*/

$navbar_bg_color: #011117;
$navbar_border_color:#1b282d;
$navbar_font_family: "Trebuchet MS Bold","Gill Sans MT","Gill Sans W04","GillSans","Gill Sans","Calibri","Trebuchet MS","sans-serif";
$navbar_search_input_bg_color:#f5f8fa;
$navbar_search_input_border_color:#e6ecf0;
$navbar_link_color:#b5b8bb;
$navbar_link_color_hover:#e5eef6;