/* 
    Created on : 05-may-2017, 17:47:39
    Author     : Javier
*/

@font-face {
    font-family: 'MyriadPro Regular';
    src: url(../fonts/myriad-pro/MyriadPro-Regular.woff);
}
@font-face {
    font-family: 'Trebuchet MS Bold'; 
    src: url(../fonts/Trebuchet-MS-Bold/MyriadPro-Regular.woff);
}
