/* 
    Created on : 04-may-2017, 10:48:28
    Author     : Javier
*/

@import '_config.scss';

body {
    background: #fff none repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) url("../img/bg-blur.jpg") no-repeat fixed center center / cover ;
    color: #222;
    cursor: auto;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    position: relative;
    color: #888;
}

button{
    cursor:pointer;
}
[onclick]{
    cursor:pointer;
}

@import 'clases.scss';

@import 'main-header.scss';
@import 'main-footer.scss';

@import 'main-content.scss';