/* 
    Created on : 05-may-2017, 18:40:58
    Author     : Javier
*/

.main-header, .dropdown-menu{
    background: $navbar_bg_color;
    border-bottom: 2px solid $navbar_border_color;
}
.dropdown-menu{
    border-right: 2px solid $navbar_border_color;
    border-left: 2px solid $navbar_border_color;
    border-top:none;
    border-radius: 0;
    margin-top:1px;
}
.dropdown-menu .dropdown-item:hover{
    background: $navbar_bg_color;
}
/*navbar*/
.mainnavbar{
    font-family: $navbar_font_family;
    font-size:15px;
    height:42px;
}
.mainnavbar .navbar-brand{
    height:100%;
    padding:0;
    margin:0;
    font-size:0;
}
.mainnavbar img.logo{
    height: 100%;
    padding: 3px;
}
.mainnavbar button{
    cursor:pointer;
}
.mainnavbar #global-nav-search{
    margin-top:5px;
}
.mainnavbar .form-control{
    padding: 5px 27px 6px 12px;
    height: 32px;
    font-size: 12px;
    line-height: 16px;
    background-color: $navbar_search_input_bg_color;
    border: 1px solid $navbar_search_input_border_color;
    border-right: none;
    border-radius: 21px;
    transition: all .2s ease-in-out;
}

.mainnavbar .input-group-addon{
    width: 26px;
    height: 32px;
    border-bottom-right-radius: 21px;
    border-top-right-radius: 21px;
    cursor: pointer;
    padding:0;
    border: 1px solid $navbar_search_input_border_color;
    border-left: none;
    background-color: $navbar_search_input_bg_color;
}
.mainnavbar li a{
    color:$navbar_link_color;
    font-size:16px;
    font-weight: bold;
    transition:ease all 0.3s;
}

.mainnavbar li a:hover{
    color:$navbar_link_color_hover;
}

.mainnavbar .form-control{
    color:$navbar_bg_color;
}